body {
    background-color: cadetblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}

.button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    width: 100px;
    height: 40px;
    background-color:papayawhip
}

#game {
    margin-left: 100px;
    margin-top: 130px;
}

#text {
    color:papayawhip;
}